---
import Layout from '@/components/common/Layout';
import Header from '@/components/common/Header';
import Footer from '@/components/common/Footer';
---
<Layout title="Dominios" description="Registro y gestión de dominios">
  <Header slot="nav" />
  <h1>Dominios</h1>
  <Footer />
</Layout>
