---
import Layout from '@/components/common/Layout.astro';
import Header from '@/components/common/Header.astro';
import Footer from '@/components/common/Footer.astro';
---
<Layout title="Hosting" description="Planes de hosting confiables">
  <Header slot="nav" />
  <h1>Hosting</h1>
  <Footer />
</Layout>
