---
import Layout from '@/components/common/Layout';
import Header from '@/components/common/Header';
import Footer from '@/components/common/Footer';
---
<Layout title="Hosting" description="Planes de hosting confiables">
  <Header slot="nav" />
  <h1>Hosting</h1>
  <Footer />
</Layout>
