---
import Layout from '@/components/common/Layout';
import Header from '@/components/common/Header';
import Footer from '@/components/common/Footer';
---
<Layout title="Comienza" description="Servicios para iniciar tu presencia online">
  <Header slot="nav" />
  <h1>Comienza</h1>
  <Footer />
</Layout>
