---
import Layout from '@/components/common/Layout.astro';
import Header from '@/components/common/Header.astro';
import Footer from '@/components/common/Footer.astro';
---
<Layout title="Comienza">
  <Header slot="nav" />
  <h1>Comienza</h1>
  <Footer />
</Layout>
