---
import Layout from '@/components/common/Layout.astro';
import Header from '@/components/common/Header.astro';
import Footer from '@/components/common/Footer.astro';
---
<Layout title="Dise침o Gr치fico">
  <Header slot="nav" />
  <h1>Dise침o Gr치fico</h1>
  <Footer />
</Layout>
