---
import Layout from '@/components/common/Layout';
import Header from '@/components/common/Header';
import Footer from '@/components/common/Footer';
---
<Layout title="Diseño Web" description="Creación de sitios web personalizados">
  <Header slot="nav" />
  <h1>Diseño Web</h1>
  <Footer />
</Layout>
