---
import Layout from '@/components/common/Layout.astro';
import Header from '@/components/common/Header.astro';
import Footer from '@/components/common/Footer.astro';
---
<Layout title="Transforma" description="Soluciones para transformar tu negocio">
  <Header slot="nav" />
  <h1>Transforma</h1>
  <Footer />
</Layout>
