---
import Layout from '@/components/common/Layout';
import Header from '@/components/common/Header';
import Footer from '@/components/common/Footer';
---
<Layout title="Transforma" description="Soluciones para transformar tu negocio">
  <Header slot="nav" />
  <h1>Transforma</h1>
  <Footer />
</Layout>
