---
import Layout from '@/components/common/Layout.astro';
import Header from '@/components/common/Header.astro';
import Footer from '@/components/common/Footer.astro';
---
<Layout title="Contacto">
  <Header slot="nav" />
  <h1>Contacto</h1>
  <Footer />
</Layout>
