---
import Layout from '@/components/common/Layout';
import Header from '@/components/common/Header';
import Footer from '@/components/common/Footer';
---
<Layout title="Contacto" description="Ponte en contacto con nosotros">
  <Header slot="nav" />
  <h1>Contacto</h1>
  <Footer />
</Layout>
