---
import Layout from '@/components/common/Layout.astro';
import Header from '@/components/common/Header.astro';
import Footer from '@/components/common/Footer.astro';
---
<Layout title="Sobre Avantys" description="Conoce más sobre Avantys">
  <Header slot="nav" />
  <h1>Sobre Avantys</h1>
  <Footer />
</Layout>
