---
import Layout from '@/components/common/Layout';
import Header from '@/components/common/Header';
import Footer from '@/components/common/Footer';
---
<Layout title="Sobre Avantys" description="Conoce más sobre Avantys">
  <Header slot="nav" />
  <h1>Sobre Avantys</h1>
  <Footer />
</Layout>
