---
import Layout from '@/components/common/Layout';
import Header from '@/components/common/Header';
import Footer from '@/components/common/Footer';
---
<Layout title="Soporte" description="Centro de soporte y ayuda">
  <Header slot="nav" />
  <h1>Soporte</h1>
  <Footer />
</Layout>
