---
import Layout from '@/components/common/Layout';
import Header from '@/components/common/Header';
import Footer from '@/components/common/Footer';
---
<Layout title="Marketing Digital" description="Estrategias de marketing digital">
  <Header slot="nav" />
  <h1>Marketing Digital</h1>
  <Footer />
</Layout>
